In [2]:
import pandas as pd

In [130]:
df = pd.read_csv("서울교통공사_서울 도시철도 열차운행시각표_20211229.csv" )
df

C:\Users\sshss\AppData\Local\Temp\ipykernel_1388\3100419994.py:1: DtypeWarning: Columns (1,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("서울교통공사_서울 도시철도 열차운행시각표_20211229.csv" )

,고유번호,호선,역사코드,역사명,주중주말,방향,급행여부,열차코드,열차도착시간,열차출발시간,출발역,도착역
0,1,2,211,성수,DAY,IN,0,2022,NaN,5:30:00,성수,성수
1,2,2,211,성수,DAY,IN,0,2026,NaN,5:40:00,성수,성수
2,3,2,211,성수,DAY,IN,0,2028,NaN,5:47:00,성수,성수
3,4,2,211,성수,DAY,IN,0,2030,NaN,5:54:00,성수,성수
4,5,2,211,성수,DAY,IN,0,2032,NaN,5:58:00,성수,성수
...,...,...,...,...,...,...,...,...,...,...,...,...
526269,526274,의정부경전철,4603,범골,SAT,DOWN,0,7,7:02:30,7:03:00,발곡,탑석
526270,480563,8,2814,몽촌토성,SAT,UP,0,8030,7:44:30,7:45:00,모란,암사
526271,480679,8,2815,잠실,SAT,UP,0,8026,7:25:40,7:26:20,모란,암사
526272,464394,5,2537,동대문역사문화공원,SAT,UP,0,5598,15:54:40,15:55:20,마천,방화
526273,464413,5,2537,동대문역사문화공원,SAT,UP,0,5128,17:48:40,17:49:20,하남검단산,방화

In [126]:
# 결측치 제거하고 분석 (열차도착시간, 열차출발시간 결측치)
# 역사명: 천안 1호선만 추출

df1 = df.iloc[:, 1:].dropna(subset=['열차도착시간', '열차출발시간']).query("역사명 == ['성환', '직산', '두정', '천안', '봉명', '쌍용']").sort_values(["역사코드", "열차도착시간"])
df1.isnull().sum() 
df1.head(50)

       호선    역사코드 역사명 주중주말    방향  급행여부   열차코드    열차도착시간    열차출발시간  출발역  도착역
198058  1  1401.0  봉명  DAY    UP     0   K710   0:05:00   0:05:30   신창   천안
214783  1  1401.0  봉명  SAT    UP     0   K720   0:05:00   0:05:30   신창   천안
198032  1  1401.0  봉명  DAY    UP     0   K634  10:09:00  10:09:30   신창  광운대
203285  1  1401.0  봉명  DAY  DOWN     0   K627  10:22:30  10:23:00  광운대   신창
219877  1  1401.0  봉명  SAT  DOWN     0   K633  10:23:00  10:23:30  광운대   신창
203516  1  1401.0  봉명  DAY    UP     1  K1916  10:37:00  10:37:30   신창  청량리
210407  1  1401.0  봉명  DAY    UP     1  K1916  10:37:00  10:37:30   신창  청량리
212617  1  1401.0  봉명  SAT    UP     1  K1916  10:38:00  10:38:30   신창  청량리
203286  1  1401.0  봉명  DAY  DOWN     0   K629  10:46:00  10:46:30  광운대   신창
219878  1  1401.0  봉명  SAT  DOWN     0   K637  10:47:00  10:47:30  광운대   신창
198033  1  1401.0  봉명  DAY    UP     0   K638  10:56:00  10:56:30   신창  청량리
203289  1  1401.0  봉명  DAY  DOWN     0   K761  11:16:30  11:17:00   병점   신창
214550  1  1401.0  봉명  SAT  DOWN     1  K1913  11:21:00  11:21:30  청량리   신창
198034  1  1401.0  봉명  DAY    UP     0   K640  11:23:00  11:23:30   신창  광운대
214757  1  1401.0  봉명  SAT    UP     0   K644  11:23:00  11:23:30   신창  광운대
203287  1  1401.0  봉명  DAY  DOWN     0   K633  11:31:30  11:32:00  광운대   신창
198035  1  1401.0  봉명  DAY    UP     0   K642  11:48:00  11:48:30   신창  광운대
214758  1  1401.0  봉명  SAT    UP     0   K646  11:50:00  11:50:30   신창  광운대
219879  1  1401.0  봉명  SAT  DOWN     0   K645  11:53:30  11:54:00  청량리   신창
203288  1  1401.0  봉명  DAY  DOWN     0   K635  12:02:30  12:03:00  청량리   신창
214759  1  1401.0  봉명  SAT    UP     0   K648  12:19:00  12:19:30   신창  청량리
198036  1  1401.0  봉명  DAY    UP     0   K644  12:20:00  12:20:30   신창  청량리
219880  1  1401.0  봉명  SAT  DOWN     0   K649  12:30:00  12:30:30  광운대   신창
203290  1  1401.0  봉명  DAY  DOWN     0   K639  12:31:00  12:31:30  광운대   신창
214760  1  1401.0  봉명  SAT    UP     0   K652  12:47:00  12:47:30   신창  광운대
198037  1  1401.0  봉명  DAY    UP     0   K648  12:48:00  12:48:30   신창  광운대
219881  1  1401.0  봉명  SAT  DOWN     0   K651  12:49:30  12:50:00  광운대   신창
205650  1  1401.0  봉명  DAY  DOWN     1  K1917  13:06:00  13:06:30  청량리   신창
212543  1  1401.0  봉명  DAY  DOWN     1  K1917  13:06:00  13:06:30  청량리   신창
198038  1  1401.0  봉명  DAY    UP     0   K650  13:13:00  13:13:30   신창  광운대
203291  1  1401.0  봉명  DAY  DOWN     0   K643  13:17:30  13:18:00  광운대   신창
214761  1  1401.0  봉명  SAT    UP     0   K656  13:21:00  13:21:30   신창  광운대
219882  1  1401.0  봉명  SAT  DOWN     0   K655  13:25:00  13:25:30  광운대   신창
205651  1  1401.0  봉명  DAY  DOWN     1  K1919  13:31:00  13:31:30  청량리   신창
212544  1  1401.0  봉명  DAY  DOWN     1  K1919  13:31:00  13:31:30  청량리   신창
203517  1  1401.0  봉명  DAY    UP     1  K1926  13:37:00  13:37:30   신창  청량리
210408  1  1401.0  봉명  DAY    UP     1  K1926  13:37:00  13:37:30   신창  청량리
214762  1  1401.0  봉명  SAT    UP     0   K658  13:46:00  13:46:30   신창  광운대
219883  1  1401.0  봉명  SAT  DOWN     0   K657  13:46:00  13:46:30  광운대   신창
203292  1  1401.0  봉명  DAY  DOWN     0   K647  13:58:30  13:59:00  광운대   신창
203518  1  1401.0  봉명  DAY    UP     1  K1928  14:00:00  14:00:30   신창  청량리
210409  1  1401.0  봉명  DAY    UP     1  K1928  14:00:00  14:00:30   신창  청량리
203293  1  1401.0  봉명  DAY  DOWN     0   K649  14:14:00  14:14:30  광운대   신창
219884  1  1401.0  봉명  SAT  DOWN     0   K661  14:15:00  14:15:30  광운대   신창
214763  1  1401.0  봉명  SAT    UP     0   K662  14:17:00  14:17:30   신창  광운대
198039  1  1401.0  봉명  DAY    UP     0   K658  14:18:00  14:18:30   신창  광운대
198040  1  1401.0  봉명  DAY    UP     0   K660  14:41:00  14:41:30   신창  광운대
214764  1  1401.0  봉명  SAT    UP     0   K664  14:41:00  14:41:30   신창  광운대
219885  1  1401.0  봉명  SAT  DOWN     0   K665  14:48:00  14:48:30  광운대   신창
205652  1  1401.0  봉명  DAY  DOWN     1  K1925  15:02:00  15:02:30  청량리   신창

In [127]:
df1.shape

(1520, 11)

In [128]:
df1.to_clipboard(index=False)